.profile-pics-container {
  height: 95vh;
  margin-top: 27px;
  background-image: url('./img/victor.jpg');
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
}

.profile-container {
  margin-top: 27px;
  height: 95vh;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
  place-items: center;
}

.orange-text, .orange-icon, .rating-icon {
  color: #ffb400;
}

.white-text {
  color: white;
}

.bold-h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

.orange-icon, .regular-icon {
  font-size: 2rem;
}

.footer-icon {
  font-size: 3rem;
  color: #ddd;
}

.rating-icon {
  font-size: 1rem;
}

.contact-item-icon {
  font-size: 0.7rem;
  color: rgb(146, 139, 139);
  margin-right: 0.2rem;
}

.flex-align-center {
  display: flex;
  align-items: center;
}
/* for button */

.close-button {
  font-size: 3rem;
  position: absolute;
  right: 1rem;
  top: 0;
  color: rgb(214, 205, 205);
  cursor: pointer;
}

.btn-resume, .btn-blog {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  color: white;
  font-size: 1rem;
  height: 50px;
}

.btn-resume {
  border: none;
  background: #ffb400;
  margin-right: 1rem;
  width: 250px;
}

.btn-blog {
  border: 1px solid #ffb400;
  background: transparent;
  width: 200px;
}

/* button styles ends */

.gray-bg {
  border-radius: 5px;
  width: 100%;
  height: 47vh;
  background: #3b3939;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gray-bg:hover .orange-text {
  color: white;
}

.gray-bg:hover .white-text {
  color:#ffb400;
  /* transform: translate3d(0, -105%, 0) */
}

.hr {
  width: 100%;
  height: 1px;
  margin: 1rem 0;
  background: #ddd;
}

.small-hr {
  width: 120px;
  height: 2px;
  background: #ffb400;
  margin: 0.8rem 0;
}

/* about inner detail */

.detail-about, .detail-touch {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 98%;
  height: 95vh;
  transform: translate(-50%);
  display: none;
  background: #3b3939;
  z-index: 10;
  overflow-y: auto;
}

.show-detail {
  display: block;
}



.inner {
  position: relative;
}

.divider {
  overflow: inherit;
  background: none;
  margin: 20px 0 62px;
  text-align: center;
}

.divider {
  height: 1px;
  /* overflow: hidden; */
  /* background-color: #e0e0e0; */
}

/* .divider .outer-line {
  border-bottom: 1px solid #666;
} */
.divider .outer-line {
  width: 25%;
  border-bottom: 1px solid #ddd;
}

.divider span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.2rem;
}

.personal-info {
  max-width: 70%;
}

.button-div {
  margin: 1rem 0;
  display: flex;
}

.qualifications-sidebar {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qualification-main {
  min-height: 500px;
  margin-top: 1.76rem;
}

.link-buttons {
  background: rgb(95, 92, 92) !important;
  width: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.75rem 0;
  font-size: 1.3rem;
  color: white;
}

.link-buttons:hover {
  color: #ffb400;
}

.link-buttons.active {
  background: #ffb400 !important;
}

.tab-pane {
  border: 1px solid rgb(175, 172, 172) !important;
  min-height: 400px !important;
}

/* about inner detail ends */

/* get in touch details starts here */
.contact-info-main {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-info {
  background: black;
  border-radius: 5px;
  width: 100%;
  min-height: 400px;
  padding: 1rem 0.4rem;
}

.facebook {
  color: #3b5998;
  
}

.twitter {
  color: #1da1f2;
}

.linkedin {
  color: #039be5;
}

.contact-form-container {
  margin-top: 8rem;
}

.form {
  width: 80%;
}

.form-element {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 3rem 0;
}
.input-element {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #ddd;
  width: 80%;
  color: white;
  margin-left: 0.5rem;
}
